@import "conform"

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video
	margin 0
	padding 0
	border 0
	font inherit
	vertical-align baseline

body, html
	background-color #313131
	font-family 'Monaco', courier, monospace
	color #cccccc

body
	padding 0 1.5em 1.5em 1.5em
	font-size 120%

ul
	margin-left 1.5em

h2
	font-size 160%
	font-weight bold

	.value
		color #cb4b16

	a
		font-size 50%
		margin-left 2.0em

h1
	font-size 160%
	padding 0.5em
	font-weight bold

	a
		font-size 40%
		margin-left 2.0em

a, a:visited
	color #268bd2

p, li
	line-height 1.4
	font-size 120%

hr
	height 1px
	border 0
	background-linear-gradient left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)

pre
	border 1px solid black

strong
	font-weight bold

.code
	background #002B36
	color #839496
	padding 0.3em 1.0em
	border 1px solid black

table
	color #839496
	border-spacing 0
	border-collapse collapse
	margin-bottom 4.0em

	th, td
		border 1px solid black

	th
		background-color #073642
		font-weight bold
		vertical-align bottom
		padding 0.5em 1.0em 0.2em 1.0em
		white-space nowrap

	td
		background-color #002b36
		text-align right
		white-space nowrap
		vertical-align top
		padding 0.2em 0.5em 1.0em 1.0em

		.size
			margin-left 0

	td:last-child
		text-align left
		white-space normal

table.setListTable
	td:nth-child(2)
		text-align center

.symbolsSection
	div.symbol
		display inline-block
		text-align center
		margin-right 0.5em
		width 3.0em
		margin-bottom 1.0em

		div
			display inline-block
			width 32px
			height 32px
			vertical-align middle
			line-height 32px

#manaSymbolsSection
	div.symbol
		div
			background-image url("/manaSymbolsSprite.png")

		div.fourteen
			add-sprite(32px, 32px, 0px, 0px, 0px, 0px, 0px, 0px)
		div.bg
			add-sprite(32px, 32px, -32px, 0px, 0px, 0px, 0px, 0px)
		div.onemillion
			add-sprite(32px, 6px, -64px, 0px, 0px, 0px, 0px, 0px)
		div.pr
			add-sprite(32px, 32px, -96px, 0px, 0px, 0px, 0px, 0px)
		div.w
			add-sprite(32px, 32px, -128px, 0px, 0px, 0px, 0px, 0px)
		div.twoblue
			add-sprite(32px, 32px, -160px, 0px, 0px, 0px, 0px, 0px)
		div.x
			add-sprite(32px, 32px, -192px, 0px, 0px, 0px, 0px, 0px)
		div.wb
			add-sprite(32px, 32px, -224px, 0px, 0px, 0px, 0px, 0px)
		div.seven
			add-sprite(32px, 32px, 0px, -32px, 0px, 0px, 0px, 0px)
		div.r
			add-sprite(32px, 32px, 0px, -64px, 0px, 0px, 0px, 0px)
		div.b
			add-sprite(32px, 32px, 0px, -96px, 0px, 0px, 0px, 0px)
		div.hw
			add-sprite(16px, 32px, 0px, -128px, 0px, 0px, 0px, 0px)
		div.twenty
			add-sprite(32px, 32px, 0px, -160px, 0px, 0px, 0px, 0px)
		div.z
			add-sprite(32px, 32px, 0px, -192px, 0px, 0px, 0px, 0px)
		div.br
			add-sprite(32px, 32px, 0px, -224px, 0px, 0px, 0px, 0px)
		div.eight
			add-sprite(32px, 32px, -32px, -32px, 0px, 0px, 0px, 0px)
		div.thirteen
			add-sprite(32px, 32px, -64px, -32px, 0px, 0px, 0px, 0px)
		div.pu
			add-sprite(32px, 32px, -96px, -32px, 0px, 0px, 0px, 0px)
		div.gw
			add-sprite(32px, 32px, -128px, -32px, 0px, 0px, 0px, 0px)
		div.u
			add-sprite(32px, 32px, -160px, -32px, 0px, 0px, 0px, 0px)
		div.s
			add-sprite(32px, 32px, -192px, -32px, 0px, 0px, 0px, 0px)
		div.twogreen
			add-sprite(32px, 32px, -224px, -32px, 0px, 0px, 0px, 0px)
		div.rg
			add-sprite(32px, 32px, -32px, -64px, 0px, 0px, 0px, 0px)
		div.hg
			add-sprite(16px, 32px, -16px, -128px, 0px, 0px, 0px, 0px)
		div.five
			add-sprite(32px, 32px, -32px, -96px, 0px, 0px, 0px, 0px)
		div.rw
			add-sprite(32px, 32px, -32px, -128px, 0px, 0px, 0px, 0px)
		div.one
			add-sprite(32px, 32px, -32px, -160px, 0px, 0px, 0px, 0px)
		div.pg
			add-sprite(32px, 32px, -32px, -192px, 0px, 0px, 0px, 0px)
		div.nineteen
			add-sprite(32px, 32px, -32px, -224px, 0px, 0px, 0px, 0px)
		div.sixteen
			add-sprite(32px, 32px, -64px, -64px, 0px, 0px, 0px, 0px)
		div.twelve
			add-sprite(32px, 32px, -96px, -64px, 0px, 0px, 0px, 0px)
		div.eleven
			add-sprite(32px, 32px, -128px, -64px, 0px, 0px, 0px, 0px)
		div.twowhite
			add-sprite(32px, 32px, -160px, -64px, 0px, 0px, 0px, 0px)
		div.twoblack
			add-sprite(32px, 32px, -192px, -64px, 0px, 0px, 0px, 0px)
		div.twored
			add-sprite(32px, 32px, -224px, -64px, 0px, 0px, 0px, 0px)
		div.three
			add-sprite(32px, 32px, -64px, -96px, 0px, 0px, 0px, 0px)
		div.∞
			add-sprite(32px, 32px, -64px, -128px, 0px, 0px, 0px, 0px)
		div.onehundred
			add-sprite(32px, 17px, -64px, -6px, 0px, 0px, 0px, 0px)
		div.four
			add-sprite(32px, 32px, -64px, -160px, 0px, 0px, 0px, 0px)
		div.ur
			add-sprite(32px, 32px, -64px, -192px, 0px, 0px, 0px, 0px)
		div.ten
			add-sprite(32px, 32px, -64px, -224px, 0px, 0px, 0px, 0px)
		div.wu
			add-sprite(32px, 32px, -96px, -96px, 0px, 0px, 0px, 0px)
		div.hr
			add-sprite(16px, 32px, -128px, -96px, 0px, 0px, 0px, 0px)
		div.pw
			add-sprite(32px, 32px, -144px, -96px, 0px, 0px, 0px, 0px)
		div.g
			add-sprite(32px, 32px, -176px, -96px, 0px, 0px, 0px, 0px)
		div.hb
			add-sprite(16px, 32px, -208px, -96px, 0px, 0px, 0px, 0px)
		div.two
			add-sprite(32px, 32px, -224px, -96px, 0px, 0px, 0px, 0px)
		div.nine
			add-sprite(32px, 32px, -96px, -128px, 0px, 0px, 0px, 0px)
		div.p
			add-sprite(18px, 32px, -96px, -160px, 0px, 0px, 0px, 0px)
		div.y
			add-sprite(32px, 32px, -96px, -192px, 0px, 0px, 0px, 0px)
		div.fifteen
			add-sprite(32px, 32px, -96px, -224px, 0px, 0px, 0px, 0px)
		div.gu
			add-sprite(32px, 32px, -128px, -128px, 0px, 0px, 0px, 0px)
		div.hu
			add-sprite(16px, 32px, -160px, -128px, 0px, 0px, 0px, 0px)
		div.six
			add-sprite(32px, 32px, -176px, -128px, 0px, 0px, 0px, 0px)
		div.ub
			add-sprite(32px, 32px, -208px, -128px, 0px, 0px, 0px, 0px)
		div.seventeen
			add-sprite(32px, 32px, -128px, -160px, 0px, 0px, 0px, 0px)
		div.zero
			add-sprite(32px, 32px, -128px, -192px, 0px, 0px, 0px, 0px)
		div.eighteen
			add-sprite(32px, 32px, -128px, -224px, 0px, 0px, 0px, 0px)
		div.h
			add-sprite(32px, 32px, -160px, -160px, 0px, 0px, 0px, 0px)
		div.pb
			add-sprite(32px, 32px, -192px, -160px, 0px, 0px, 0px, 0px)

#otherSymbolsSection
	div.symbol
		width 7.0em

		div
			background-image url("/otherSymbolsSprite.png")

		div.planeswalker
			add-sprite(32px, 28px, 0px, 0px, 0px, 0px, 0px, 0px)
		div.forwardslash
			add-sprite(12px, 32px, 0px, -28px, 0px, 0px, 0px, 0px)
		div.q
			add-sprite(32px, 32px, -12px, -28px, 0px, 0px, 0px, 0px)
		div.creature
			add-sprite(32px, 28px, -32px, 0px, 0px, 0px, 0px, 0px)
		div.t
			add-sprite(32px, 32px, -12px, -60px, 0px, 0px, 0px, 0px)
		div.sorcery
			add-sprite(25px, 32px, -12px, -92px, 0px, 0px, 0px, 0px)
		div.artifact
			add-sprite(23px, 32px, -44px, -28px, 0px, 0px, 0px, 0px)
		div.chaosdice
			add-sprite(32px, 27px, -64px, 0px, 0px, 0px, 0px, 0px)
		div.toughness
			add-sprite(18px, 32px, -67px, -28px, 0px, 0px, 0px, 0px)
		div.enchantment
			add-sprite(32px, 25px, -85px, -28px, 0px, 0px, 0px, 0px)
		div.instant
			add-sprite(24px, 32px, -44px, -60px, 0px, 0px, 0px, 0px)
		div.planeswalk
			add-sprite(17px, 32px, -44px, -92px, 0px, 0px, 0px, 0px)
		div.multiple
			add-sprite(32px, 32px, -68px, -60px, 0px, 0px, 0px, 0px)
		div.land
			add-sprite(32px, 25px, -68px, -92px, 0px, 0px, 0px, 0px)
		div.power
			add-sprite(18px, 32px, -100px, -60px, 0px, 0px, 0px, 0px)
